<h1>Welcome to CSE Motors!</h1>
<%# messages() %>

<section class="hero">
    <h2>DMC Delorean</h2>
    <ul>
        <li><span>3 Cup holders</span></li>
        <li><span>Superman doors</span></li>
        <li><span>Fuzzy dice!</span></li>
    </ul>

    <button>Own Today</button>
</section>

<section class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="item-upgrade">
        <a href="">
            <img src="/images/upgrades/flux-cap.png" alt="flux-cap">Flux
            Capacitor
        </a>
    </div>
    <div class="item-upgrade"><a href=""><img src="/images/upgrades/flame.jpg" alt="flame-decals">Flame
            Decals</a></div>
    <div class="item-upgrade"><a href=""><img src="/images/upgrades/bumper_sticker.jpg" alt="bumper-sticker">Bumper
            Stickers</a></div>
    <div class="item-upgrade"><a href=""><img src="/images/upgrades/hub-cap.jpg" alt="hub-cap">Hub Caps</a>
    </div>
</section>
<section class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>
            <p>"So fast it's almost like traveling in time." (4/5)</p>
        </li>
        <li>
            <p>"Coolest ride on the road." (4/5)</p>
        </li>
        <li>
            <p>"I'm feeling McFly!" (5/5)</p>
        </li>
        <li>
            <p>"The most futuristic ride of our day." (4.5/5)</p>
        </li>
        <li>
            <p>"80's livin and I love it!" (5/5)</p>
        </li>
    </ul>
</section>