/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* globals */
:root {
  /* colors */
  --columbia-blue: #c5d5eaff;
  --accent: #165379;
  --white-tone: #FFFFFF;
  --highlighter: #FF570A;
  --black-tone: #333A3F;
  --gray-tone: #a8a8a8;
  /* sizes */
  --size-1: 0.8rem;
  --size-2: 1rem;
  --size-3: 1.2rem;
  --size-4: 1.5rem;
  --size-5: 2rem;
  /* fonts */
  --header: "Libertinus Math", system-ui;
  --content: "Raleway", sans-serif;
  /* transition */
  --type-1: all 1s ease-in-out;
}

h1,
h2,
h3,
h4,
h4,
h6 {
  font-family: var(--header);
}

body {
  font-family: var(--content);
}

p,
span,
a {
  font-family: var(--content);
  color: var(--black-tone);
}

button {
  all: unset;
}

button:disabled, button:disabled:hover {
  background-color: #a8a8a8;
  color: #000;
  filter: none;
  cursor: not-allowed;
}

/* layout */
.wrapper-content {
  background-color: white;
  max-width: 900px;
  margin: 0 auto;
}

/******** header ***************/
.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.siteName a {
  font-size: var(--size-5);
  font-family: var(--header) !important;
}

.account a,
.siteName a {
  text-decoration: none;
  padding: var(--size-1);
}

/******** nav ***************/
nav {
  background-color: var(--black-tone);
}

nav ul li a {
  color: var(--white-tone);
  font-size: var(--size-2);
  text-decoration: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  justify-content: center;
}

nav ul li {
  list-style: none;
  padding: 6px;
  transition: var(--tipe-1);
}

nav ul li:hover {
  cursor: pointer;
  background-color: var(--highlighter);
}

/******** main ***************/

main {
  display: grid;
  grid-template-columns: 1fr;
}

/* hero */
section.hero button {
  padding: var(--size-1);
  background-color: var(--highlighter);
  font-weight: 600;
  border-radius: var(--size-1);
}

section.hero {
  background-image: url(../images/vehicles/delorean.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: contain;
}

section.hero ul {
  padding: var(--size-2);
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 40%;
}

/* upgrades */
.upgrades {
  display: grid;
  gap: var(--size-1);
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}


.upgrades h2 {
  grid-column: span 2;
}

.upgrades .item-upgrade {
  border-radius: var(--size-1);
  border: 1px solid #ddd;
}

.upgrades .item-upgrade a:hover {
  color: var(--highlighter)
}

.upgrades .item-upgrade a img {
  height: 80px;
  width: fit-content;

  mix-blend-mode: multiply;
}

.upgrades .item-upgrade a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-1);
}

/* reviews */

/******** footer ***************/

footer {
  text-align: center;
}

/* medium and large screen */

/* medium screen media queries */

@media (min-width: 38em) {
  .wrapper-content {
    border-radius: var(--size-1);
    border: 6px solid var(--accent);
  }

  body {
    background-image: url(../images/site/small_check.jpg);
    background-repeat: repeat;
    background-size: auto;
  }

  nav ul li {
    padding: var(--size-2);
  }

  nav ul {
    justify-content: space-around;
  }

  .top-header {
    padding: var(--size-2)
  }

  .hero {
    min-height: 300px;
  }

  main h1 {
    grid-column: span 2;
  }

  main .hero {
    grid-column: span 2;
  }

  .wrapper-content main {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    place-items: center;
  }

  main h1,
  footer,
  section {
    padding: var(--size-1);
  }

  section.hero {
    background-size: auto;
  }
}


@media (min-width: 38em) and (max-width: 63.9em) {

  .add-inventory,
  .account-form,
  .add-classification {
    grid-column: span 2;
    max-width: 480px;
    display: grid !important;
    gap: 20px;
  }

  .add-inventory,
  .add-classification {
    min-width: 480px;
  }
}

/* large screen media queries */

@media (min-width: 64em) {

  .add-inventory,
  .account-form {
    grid-column: span 2;
    min-width: 480px;
    display: grid;
  }

  .add-inventory,
  .account-form,
  .add-classification {
    grid-column: span 2;
    max-width: 480px;
    display: grid !important;
    gap: 20px;
  }

  .add-inventory,
  .add-classification {
    min-width: 480px;
  }

  .add-inventory {
    min-width: 480px;
  }
}

ul#inv-display {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding-left: 0;
  gap: 25px;
}

ul#inv-display li {
  list-style: none;
  overflow: hidden;
  max-width: 320px;
  padding: var(--size-2);
}

ul#inv-display li a img {
  height: 120px;
  width: fit-content;
}

li.inv-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#inv-display li img {
  width: 200px;
  height: fit-content;
  border-radius: 16px;
}

.namePrice {
  display: flex;
  flex-direction: column;
}

#inv-display li h2 a {
  text-decoration: none;
  color: inherit;
}

li.inv-list-item:hover {
  background-color: var(--accent);
  border-radius: var(--size-2);
  cursor: pointer;
  color: var(--white-tone);
}

li.inv-list-item a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.namePrice h2 {
  color: inherit;
  margin: 0;
  text-align: center;
}

.namePrice span {
  color: inherit;
}

hr {
  color: var(--white-tone);
  width: 100%;
}

#item-detail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column: span 2;
}

#item-detail .detail-image img {
  max-width: 380px;
}

#item-detail .detail-image {
  padding: var(--size-1);
}

.detail-info ul li {
  list-style: none;
  padding: var(--size-1);
}

.detail-info ul li:nth-child(odd) {
  background-color: #eee;
}

a.goback-button {
  font-weight: 600;
}

a.goback-button:hover {
  color: var(--highlighter);
}

/* error page */
.error-container {
  text-align: center;
  padding: 2rem;
}

.error-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-button {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 25px;
  background-color: #4C96D7;
  /* Un color azul amigable */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #3a7ab5;
}


#messages .notice li {
  color: red;
  font-weight: 600;
  font-style: italic;
}

.account-form input,
.add-inventory input,
.add-inventory textarea,
.add-inventory select,
.add-classification input {
  padding: var(--size-1);
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--gray-tone);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  grid-area: input;
  width: 100%;
}

.classification-form label:has(input[required])::before,
.add-inventory label:has(select[required])::before,
.add-inventory label:has(input[required])::before,
.account-form label:has(input[required])::before {
  content: "*";
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 4px;
}

.account-form,
.inventory-form {
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

.valid {
  color: rgb(2, 82, 2);
  font-weight: 800;
}

.invalid {
  color: #3d0909;
  font-weight: 600;
}

.account-form span {
  padding: var(--size-2);
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: var(--highlighter);
  padding: var(--size-2);
  font-weight: 900;
  border-radius: 16px;
  text-align: center;
}

button:hover {
  background-color: var(--highlighter);
  filter: drop-shadow(1px 2px 6px var(--black-tone));
  cursor: pointer;
}

button {
  width: 280px;
  display: block;
}

input:read-only {
  border: #a8a8a8;
  background-color: lavender;
  color: #000;
  cursor: not-allowed;
}

.pswBtn-style {
  cursor: pointer;
  color: var(--accent);
  font-weight: 600;
}

ul.notice {
  color: red;
  font-weight: 600;
}

.notice li {
  list-style: square;
}

form.inventory-form label,
form.account-form label,
form.login-form label,
form.register-form label,
form.classification-form label {
  padding: var(--size-2);
  width: 100%;
  display: inline-block;
}

.account-form label {
  font-weight: 600;
  padding: var(--size-2);
}

.inline-group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
}

.add-inventory {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

span.pswBtn-style {
  width: 100%;
  display: flex;
}

form {
  display: grid;
  justify-items: center;
}